__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/
.venv/
.uv/
.pytest_cache/
.mypy_cache/
.DS_Store
.idea/
.vscode/
tree.txt
src/dataset/ColorMasks
src/dataset/RescueNet
src/dataset/RescueNet_patches/train
src/dataset/RescueNet_patches/val
src/dataset/RescueNet_patches/test
src/dataset/ColorMasks-RescueNet.zip
src/dataset/RescueNet.zip
src/dataset/RescueNet_patches.zip
