__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/
.venv/
.uv/
.pytest_cache/
.mypy_cache/
.DS_Store
.idea/
.vscode/

src/dataset/ColorMasks
src/dataset/RescueNet
src/dataset/RescueNet_patches
src/dataset/ColorMasks-RescueNet.zip
src/dataset/RescueNet.zip
